@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(81% 0.117 11.638);
}

@layer components {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
